<% layout("/layouts/boilerplate"); %>

<div class="row mt-5">
    <div class="alert alert-danger col-6 offset-2" role="alert">
        <h3><%= message %></h3>
        <h2>Error Code:<%= status %></h2>
        <!-- to show how error propogate.wrap it in scriplet tag. -->
        <!-- <p> stack </p> -->
    </div>
</div>